body {
	overflow-x: hidden;
	font-family: "Calibri";
}

#tabSave{
	min-width: 260px;
}

#create{
	text-align: center;
}

#create a{
	color: #42ADDE;
}

#create a:hover{
	color: #0095B6;
}

.opened{
	font-weight: bold;
}

#list {
	border: 1px solid #cccccc;
	border-collapse:collapse
}

.opened {
	background-color: #98FB98;
}

#list th{
	background: #e0e0e0;
	font-weight: bold;
	text-align:center;
	overflow: visible;
	padding: 3px 3px;
	font-size: 16px;
}

#list td{
	text-align:center;
	overflow: visible;
	padding: 3px 3px;
	font-size: 14px;
}

#list td a{
	color: #42ADDE;
}

#list td a:hover{
	color: #0095B6;
}