body {
	overflow-x: hidden;
	font-family: "Calibri";
	background: #aadfeb;
}

/* LIST-VIEW */

.tabs {
	width: 350px;
	float: none;
	list-style: none;
	position: relative;
	padding: 0;
	margin: 0;
}

.tabs li{
	float: left;
}

.tabs .label {
	display: block;
	padding: 2px 20px;
	border-radius: 2px 2px 0 0;
	font-size: 20px;
	font-weight: normal;
	cursor: pointer;
	position: relative;
}

.tabs .opened {
	background: #08C;
	color: white;
}

.tabs .opened:hover {
}

.tabs .closed {
	color: #08C;
	background: rgba(255,255,255,0.2);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.tabs .closed:hover {
	background: rgba(255,255,255,0.5);
}

.tab-content{
	z-index: 2;
	display: none;
	text-align: left;
	width: 100%;
	font-size: 20px;
	padding-top: 10px;
	background: #08C;
	padding: 15px;
	color: white;
	position: absolute;
	left:0;
	box-sizing: border-box;
	-webkit-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	animation-duration: 0.5s;
}

/* EDIT-VIEW */

#item-view h2{
	margin: 0px 0px 20px 0px;
	padding: 0px;
	font-size: 22px;
}

#item-view{
	text-align: left;
	width: 350px;
	font-size: 20px;
	background: #08C;
	padding: 5px 0px 0px 15px;
	color: white;
	/*position: relative;
	left:0;*/
	box-sizing: border-box;
	-webkit-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	animation-duration: 0.5s;
}

#item-view label{
	font-size: 20px;
}

#item-view input[type=text]{
	padding: 4px;
	border: 1px solid #CCCCCC;
	width: 200px;
}
			
#item-view input:focus{
	border: 1px solid #FFFFFF;
	background: #eee;
}

.buttons input[type=radio] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.buttons {
	list-style: none;
	/*position: relative;*/
	padding: 0;
}

.buttons li{
	float: left;
	margin-right: 5px;
}

.buttons .label {
	display: block;
	padding: 1px 20px;
	border-radius: 2px 2px 2px 2px;
	color: #08C;
	font-size: 16px;
	font-weight: normal;
	background: rgba(255,255,255,0.9);
	cursor: pointer;
	/*position: relative;*/
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.buttons .label:hover {
	background: #aadfeb;
	color: #059;
}
